In [124]:
import pandas as pd
import numpy as np

In [200]:
df = pd.read_csv('RF.csv')
df.head()

,Unnamed: 0,Registration State,Plate Type,Vehicle Body Type,Vehicle Make,Violation Location,Violation County,Intersecting Street,Vehicle Color,Vehicle Year,fine_category
0,1,NY,COM,VAN,FRUEH,34.0,NY,0ft E/of Haven Ave,BROWN,2012,>80
1,2,NY,COM,DELV,INTER,9.0,NY,0ft E/of Avenue A,BLUE,2015,>80
2,9,NY,PAS,OTHER,ME/BE,62.0,K,0ft W/of 78th St,BLACK,2010,>80
3,13,NY,PAS,SUBN,JEEP,30.0,NY,7ft W/of Broadway,OTHER,2008,>80
4,15,NY,OMT,SUBN,NISSA,70.0,K,ALBERMARLE RD,WHITE,2011,>80

In [201]:
df.drop(['Unnamed: 0','Intersecting Street','Violation Location'], inplace=True, axis=1)

In [202]:
df = df.sample(n=100000,replace=False)

In [203]:
for col in df.columns:
    print(col,":",df[col].unique())

Registration State : ['NY' 'NJ' 'OTHER' 'CT' 'PA' 'FL' 'VA']
Plate Type : ['COM' 'PAS' 'OMT' 'IRP' 'OTHER' 'OMS']
Vehicle Body Type : ['VAN' 'SUBN' '4DSD' 'OTHER' 'PICK' 'DELV' 'TAXI']
Vehicle Make : ['FORD' 'ME/BE' 'GMC' 'NISSA' 'HONDA' 'OTHER' 'TOYOT' 'FRUEH' 'CHEVR'
 'LEXUS' 'BMW' 'JEEP' 'HYUND' 'INTER']
Violation County : ['NY' 'K' 'QNS' 'BX' 'R']
Vehicle Color : ['WHITE' 'BLACK' 'BLUE' 'GREY' 'GREEN' 'OTHER' 'RED' 'SILVE' 'BROWN']
Vehicle Year : [2007 2017 2015 2009 2014 2002 2011 2013 2003 2016 2005 2010 2001 2006
 2012 2008 2004]
fine_category : ['0-80' '>80']

In [204]:
from sklearn.preprocessing import LabelEncoder

In [205]:
le = LabelEncoder()

In [206]:
df.head()

,Registration State,Plate Type,Vehicle Body Type,Vehicle Make,Violation County,Vehicle Color,Vehicle Year,fine_category
21641,NY,COM,VAN,FORD,NY,WHITE,2007,0-80
44050,NY,PAS,SUBN,ME/BE,K,BLACK,2017,0-80
287372,NY,OMT,4DSD,ME/BE,NY,BLUE,2015,>80
197833,NY,COM,VAN,GMC,NY,WHITE,2009,>80
20981,NY,PAS,SUBN,NISSA,QNS,GREY,2014,0-80

In [207]:
df['Registration State'] = le.fit_transform(df['Registration State']) 
df['Plate Type'] = le.fit_transform(df['Plate Type']) 
df['Vehicle Body Type'] = le.fit_transform(df['Vehicle Body Type']) 
df['Vehicle Make'] = le.fit_transform(df['Vehicle Make']) 
df['Violation County'] = le.fit_transform(df['Violation County']) 
df['Vehicle Color'] = le.fit_transform(df['Vehicle Color']) 
df['Vehicle Year'] = le.fit_transform(df['Vehicle Year'])
#df['Street Name'] = le.fit_transform(df['Street Name'])

In [213]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(df['fine_category'])

LabelEncoder()

In [214]:
df['fine_category'] = le.transform(df['fine_category'])

In [216]:
df['fine_category'].value_counts()

1    52987
0    47013
Name: fine_category, dtype: int64

In [217]:
# Split into Predictors and Response variable

X = df.drop(columns=["fine_category"])
Y = df[["fine_category"]]

In [221]:
#Split into Train and Test set 

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3)

In [222]:
#Creating and fitting the model

from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(100)

model1 = rfc.fit(X_train, np.ravel(y_train))
prediction1 = model1.predict(X_test)

In [223]:
print("Accuracy on training data: {:,.3f}".format(rfc.score(X_train, y_train)))
print("Accuracy on test data: {:,.3f}".format(rfc.score(X_test, y_test)))

Accuracy on training data: 0.752
Accuracy on test data: 0.643